<h1>Available Experiments</h1>

<ul>
    <li><a href="/node/basic-example">Basic Example In Node.js</a></li>
    <li><a href="/node/line-fit">Fitting a line to data. Linear Regression Model In Node.js</a></li>
</ul>

